.container {
    width: 100%;
    margin: auto;
    padding: 1rem;
    background-color: #fff; /* Fundo Branco Adicionado */
    border-radius: 8px; /* Bordas arredondadas */
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
}

.full-width {
    width: 100%;
}

button {
    margin-bottom: 2rem;
    width: 100%;
}

.perfis {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.margem {
    margin: 0 1rem;
}