.container {
    width: 100%;
    margin: auto;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

button {
    margin-bottom: 2rem;
    width: 100%;
}

table {
    width: 100%;
}


mat-form-field {
    width: 100%;
}