.container {
    width: 40rem;
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
}

.full-width {
    width: 100%;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.perfis {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.margem {
    margin: 0 1rem;
}

button {
    margin-bottom: 1rem;
}